body{font:14px "Ubuntu", "Microsoft YaHei", Arial, sans-serif;}
::selection{background:#000;color:#fff;}
a:hover{text-decoration: none}
.fbig{text-transform:capitalize;}
#wrap{padding-top:18px;background: #f9f9f9}
@media(min-width: 768px){
.container{
  max-width: 750px;
}
}
.header nav{overflow: hidden;}
.header nav ul{overflow: hidden;}
.header nav ul li{list-style: none;float: left;}
.header nav ul li a{color:#999;margin:0 8px;font-size: 1.1em;transition:color .6s;}
.header nav ul li a:hover{color:#000;transition:color .6s;}
header{margin:0 auto;text-align: center;}
header h1 a{color:#333;transition:color .6s;}
header h1 a:hover{color:#999;transition:color .6s;}
#user_logo img{border-radius: 120px;width: 100px;height: 100px;transform:rotate(0deg);transition:1s;box-shadow: 0 0 8px #ccc;/*border:5px solid #555;*/}
#user_logo img:hover{transform:rotate(360deg);transition:1s;}
.main{margin-top: 25px;}
.post{overflow: hidden;border:1px solid #e3e3e3;padding:10px 15px 15px;border-radius: 10px;background: #fefefe;box-shadow: 0px 1px 3px #efefef;margin-bottom: 35px;}
.post h1.title{margin:10px 0 20px;}
.post h1.title,.post h1.title a{color:#333;}
.post h1.title,.post h1.title a{font-size: 22px;font-weight: bold;}
.post p{padding:10px 0;line-height: 24px;}
.cate:before{content:"";display:inline-block;width: 5px;height: 5px;border-radius: 100px;background: #666;margin:0 5px;vertical-align: middle;}
.cate a{color:#666;}
.post h1 a:hover,.cate a:hover{color:#999;}
.post .more{background:#fff;border-radius: 100px;padding:5px 10px;color:#333;border:1px solid #e3e3e3;transition:background .8s,border .8s;}
.post .more:hover,.post .a-tabs a:hover{background:#000;color:#fff;border:1px solid #000;transition:background .8s,border .8s;}
.a-page-u-d{margin-top: -15px}
.pager li>a,.pager li>span{color:#333;transition:background .8s,border .8s;}
.pager li>a:hover,.pager li>span:hover{background:#000;color:#fff;border:1px solid #000;transition:background .8s,border .8s;}
.pager li>a.disabled{background: #fff;color:#666;}
.archives-wrap{border:1px solid #e3e3e3;padding:10px 15px;border-radius: 10px;background: #fefefe;box-shadow: 0px 1px 3px #efefef;}
.archives-wrap li{list-style: none;}
.archives-wrap .archives-year{margin: 15px 0 10px;border-bottom:1px solid #e3e3e3;padding:5px 0;}
.archives-wrap .archives-year a{font-size: 18px;color:#333;font-weight: bold;}
.archives-wrap .archives-date{margin-right: 25px;}
.archives-wrap .archives{margin: 5px 0;}
.footer{padding-top:15px;height: 100%;text-align: center;line-height: 50px;border-top:1px solid #e9e9e9;margin-top: 15px;background: #fcfcfc}
.footer p i{margin-right: 5px;font-style: normal;}
.footer p a{color:#333;}
.footer p a:hover{color:#999;}
#commnet span{margin-left: 5px}

/*post-page*/
.a-header{border-bottom: 1px solid #e3e3e3;padding-bottom:12px;}

.a-footer{overflow: hidden;border-top:1px solid #e3e3e3;padding:10px 0 0;margin-top: 15px;line-height: 16px;}
.a-footer .a-tabs a{background:#fff;color:#333;margin-right: 10px;font-size: 12px;padding:5px 5px;display: inline-block;border:1px solid #e3e3e3;border-radius: 100px;transition:background .8s,border .8s;}

.a-cont h1 {
  font-size: 2em;
}
.a-cont h2 {
  font-size: 1.5em;
}
.a-cont h3 {
  font-size: 1.3em;
}
.a-cont h4 {
  font-size: 1.2em;
}
.a-cont h5 {
  font-size: 1em;
}
.a-cont h6 {
  font-size: 1em;
  color: #999;
}
.a-cont hr {
  border: 1px dashed #ddd;
}
.a-cont strong {
  font-weight: bold;
}
.a-cont em,
.a-cont cite {
  font-style: italic;
}
.a-cont sup,
.a-cont sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.a-cont sup {
  top: -0.5em;
}
.a-cont sub {
  bottom: -0.2em;
}
.a-contsmall {
  font-size: 0.85em;
}
.a-cont acronym,
.a-cont abbr {
  border-bottom: 1px dotted;
}
.a-cont ul,
.a-cont ol,
.a-cont dl {
  margin: 0;
  line-height: 1.6em;
}
.a-cont ul ul,
.a-cont ol ul,
.a-cont ul ol,
.a-cont ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.a-cont ul {
  list-style: disc;
}
.a-cont ol {
  list-style: decimal;
}
.a-cont dt {
  font-weight: bold;
}

.a-cont {
  color: #555;
  padding: 0 10px;
}
.a-cont:before,
.a-cont:after {
  content: "";
  display: table;
}
.a-cont:after {
  clear: both;
}
.a-cont p,.a-cont table {
  line-height: 1.6em;
  margin: 0.8em 0;
}
.a-cont h1,
.a-cont h2,
.a-cont h3,
.a-cont h4,
.a-cont h5,
.a-cont h6 {
  font-weight: bold;
}
.a-cont h1,
.a-cont h2,
.a-cont h3,
.a-cont h4,
.a-cont h5,
.a-cont h6 {
  line-height: 1.1em;
  margin: 1.1em 0 0.8em;
}
.a-cont a {
  color: #258fb8;
  text-decoration: none;
}
.a-cont a:hover {
  text-decoration: underline;
}
.a-cont ul,
.a-cont ol,
.a-cont dl {
  margin-top: 2em;
  margin-bottom: 2em;
}
.a-cont img,.a-cont video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
/*box-shadow: 2px 2px 4px #bbb*/
  /*border: 1px solid #ddd;*/
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.a-cont iframe {
  border: none;
}
.a-cont table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.a-cont th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.a-cont td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.a-cont blockquote {
  overflow: auto;
  /*font-family: "Ubuntu", "Microsoft YaHei", Arial, sans-serif;*/
  border: dashed 1px #eee;
  background-color: #f8f8f8;
  border-color: #e0e0e0;
  padding-left: 9px;
  padding-rigth: 9px;
  font-size: 14px;
}
.a-cont blockquote p {
  margin: 0;
}
.a-cont blockquote footer {
  font-size: 14px;
  margin: 2em 0;
  /*font-family: "Ubuntu", "Microsoft YaHei", Arial, sans-serif;*/
}
.a-cont blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.a-cont .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.a-cont .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.a-cont .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.a-cont .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.a-cont .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.a-cont .video-container iframe,
.a-cont .video-container object,
.a-cont .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.a-cont pre,
.a-cont .highlight {
  background: #2d2d2d;
  padding: 15px 10px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 28px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 0 0.8em;
}
.a-cont .highlight .gutter pre,
.a-cont .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
/*.a-cont pre,
.a-cont code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.a-cont code {
  background: #f9f9f9;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.a-cont pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}*/
.a-cont .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.a-cont .highlight table {
  margin: 0;
  width: auto;
}
.a-cont .highlight td {
  border: none;
  padding: 0;
}
.a-cont .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.a-cont .highlight figcaption:before,
.a-cont .highlight figcaption:after {
  content: "";
  display: table;
}
.a-cont .highlight figcaption:after {
  clear: both;
}
.a-cont .highlight figcaption a {
  float: right;
}
.a-cont .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.a-cont .highlight .line {
  height: 28px;
}
.a-cont .gist {
  margin: 0 -10px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 10px 15px 0;
}
.a-cont .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.a-cont .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.a-cont .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.a-cont .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.a-cont .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.a-cont .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Ubuntu", "Microsoft YaHei", Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 10px;
}
.a-cont .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.a-cont .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}

/*#loading*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #333;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}